.btn-purple {
    background-color: purple;
    color: #fff;
}

.btn-purple:hover {
    background-color: rgb(242, 121, 242);
}

h1 {
    border: 1px solid purple;
    padding: 20px;
    margin: 10px;
    font-size: 20px;
    color: purple;
    border-radius: 20px;
}